// GRID BASE CONFIG
$container: 1233px; // SzerokoĹ›Ä‡ kontenera (wrappera)


// PAGE FONTS
$em-base: 14px; // Domyślna wielkość fontu do przeliczania na rem (działa tylko z frameworkiem Bourbon)
$baseFont: "Lato-Regular";
$chunk: "Chunkfive";
$lato-black:  "Lato-Black";
$lato-bold:  "Lato-Bold";
$lato-heavy:  "Lato-Heavy";
$lato-light:  "Lato-Light";
$lato-medium:  "Lato-Medium";
$lato-regular:  "Lato-Regular";
$lato-semibold:  "Lato-Semibold";


// PAGE COLORS
$baseColor: #000; // Kolor bazowy (zazwyczaj czarny lub podobny wykorzystywany globalnie np. dla fontów)
//$secColor: #f13e4b; // czerwony
$altColor: #313337; // Kolor alternatywny (dla jasno szarych bloków, pod zdjęcia,ikony)*/
$tealColor: #01a2a6;
$turqoiseColor: #29d9c2;
$limeColor: #c3f37f;
$peachColor: #ffffa6;

